In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv('Bus_Breakdown_and_Delays.csv')
my_df

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1224901,Pre-K/EI,811,1,Other,C353,10/26/2015 08:30:00 AM,10/26/2015 08:40:00 AM,Bronx,...,10MINUTES,5,Yes,Yes,No,10/26/2015 08:40:00 AM,NaN,10/26/2015 08:40:39 AM,Running Late,Pre-K
1,2015-2016,1225098,Pre-K/EI,9302,1,Heavy Traffic,C814,10/27/2015 07:10:00 AM,10/27/2015 07:11:00 AM,Bronx,...,25 MINUTES,3,Yes,Yes,No,10/27/2015 07:11:00 AM,NaN,10/27/2015 07:11:22 AM,Running Late,Pre-K
2,2015-2016,1215800,Pre-K/EI,358,2,Heavy Traffic,C195,09/18/2015 07:36:00 AM,09/18/2015 07:38:00 AM,Bronx,...,15 MINUTES,12,Yes,Yes,Yes,09/18/2015 07:38:00 AM,NaN,09/18/2015 07:38:44 AM,Running Late,Pre-K
3,2015-2016,1215511,Pre-K/EI,331,2,Other,C178,09/17/2015 08:08:00 AM,09/17/2015 08:12:00 AM,Bronx,...,10 minutes,11,Yes,Yes,Yes,09/17/2015 08:12:00 AM,NaN,09/17/2015 08:12:08 AM,Running Late,Pre-K
4,2015-2016,1215828,Pre-K/EI,332,2,Other,S176,09/18/2015 07:39:00 AM,09/18/2015 07:45:00 AM,Bronx,...,10MINUTES,12,Yes,Yes,No,09/18/2015 07:45:00 AM,NaN,09/18/2015 07:56:40 AM,Running Late,Pre-K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147967,2016-2017,1338452,Pre-K/EI,9345,2,Heavy Traffic,C530,04/05/2017 08:00:00 AM,04/05/2017 08:10:00 AM,Bronx,...,15-20,7,Yes,Yes,No,04/05/2017 08:10:00 AM,NaN,04/05/2017 08:10:15 AM,Running Late,Pre-K
147968,2016-2017,1341521,Pre-K/EI,0001,5,Heavy Traffic,C579,04/24/2017 07:42:00 AM,04/24/2017 07:44:00 AM,Bronx,...,20 MINS,0,Yes,Yes,No,04/24/2017 07:44:00 AM,NaN,04/24/2017 07:44:15 AM,Running Late,Pre-K
147969,2016-2017,1353044,Special Ed PM Run,GC0112,X928,Heavy Traffic,09003,05/25/2017 04:22:00 PM,05/25/2017 04:28:00 PM,Bronx,...,20-25MINS,0,Yes,Yes,Yes,05/25/2017 04:28:00 PM,90323827,05/25/2017 04:34:36 PM,Running Late,School-Age
147970,2016-2017,1353045,Special Ed PM Run,5525D,Q920,Won`t Start,24457,05/25/2017 04:27:00 PM,05/25/2017 04:30:00 PM,Queens,...,NaN,0,Yes,Yes,No,05/25/2017 04:30:00 PM,NaN,05/25/2017 04:30:07 PM,Breakdown,School-Age
147971,2016-2017,1353046,Project Read PM Run,2530,K617,Other,21436,05/25/2017 04:36:00 PM,05/25/2017 04:37:00 PM,Brooklyn,...,45min,7,Yes,Yes,Yes,05/25/2017 04:37:00 PM,NaN,05/25/2017 04:37:37 PM,Running Late,School-Age

In [3]:
# Grab a Specific Column
my_df['Route_Number']

0            1
1            1
2            2
3            2
4            2
          ...
147967       2
147968       5
147969    X928
147970    Q920
147971    K617
Name: Route_Number, Length: 147972, dtype: object

In [5]:
# Count values
my_df['Route_Number'].value_counts()
# Pass as Dataframe
pd.DataFrame(my_df['Route_Number'].value_counts()).head(50)

              count
Route_Number
1              2569
2              2217
3              1905
5              1741
4              1093
7               788
6               746
8               396
18              309
K206            303
1A              276
9               247
20              242
K293            221
5A              212
L016            202
M786            176
K131            167
L524            166
K184            165
L015            165
M948            164
M536            159
Q157            157
M671            155
M947            154
K222            151
M521            151
K224            150
K132            149
K026            146
L771            146
K413            144
K077            142
K254            139
M503            139
K283            138
K016            136
K009            135
M204            133
K190            132
K019            131
K082            130
X449            129
M569            129
K061            127
K005            126
1B              125
M601            124
M156            124

In [8]:
# Grab Uniques
my_df['Route_Number'].unique()

array(['1', '2', 'P640', ..., '012', '29AM', '1409B'], dtype=object)

In [11]:
# Show as Dataframe
pd.DataFrame(my_df['Route_Number'].unique()).head(50)

        0
0       1
1       2
2    P640
3       4
4       3
5    Q363
6   03 AM
7       5
8   K2057
9    K083
10   N721
11      8
12   P870
13   K812
14  Q9493
15   M772
16  M1079
17   W983
18   L043
19   M585
20   M945
21   5 CU
22   X584
23   M705
24   L991
25   L015
26   K285
27   M152
28   Q165
29   L504
30   M279
31   Q622
32   X672
33   M524
34  Q3355
35   Q262
36   X403
37   M391
38   R029
39   X178
40   X524
41   K902
42   K107
43     18
44   M779
45  R1106
46   X878
47   Q092
48   K026
49   K682